*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --header-color: #d6ced6;
  --header-bg-color: #350d36;
  --header-search-bg-color: #431e44;
  --header-search-border-bg: #684a68;
  --search-input-color: #d9d2d9;
  --sidebar-bg: #3f0e40;
  --sidebar-color: white;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; /* 10px %  = 10/16 px */
}

body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; /* 16px  1.6 * font-size = 10px */
}

